class ClojureLspNative < Formula
  desc "Language Server (LSP) for Clojure"
  homepage "https://github.com/clojure-lsp/clojure-lsp"
  version "<version>"

  if OS.mac?
    url "https://github.com/clojure-lsp/clojure-lsp/releases/download/<version>/clojure-lsp-native-macos-amd64.zip"
    sha256 "<mac-sha>"
  elsif OS.linux?
    url "https://github.com/clojure-lsp/clojure-lsp/releases/download/<version>/clojure-lsp-native-linux-amd64.zip"
    sha256 "<linux-sha>"
  end

  def install
    bin.install "clojure-lsp"
  end
end
